html { line-height: 1.15; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
body { margin: 0; }
article, aside, footer, header, nav, section { display: block; }
h1 { font-size: 2em; margin: .67em 0; }
figcaption, figure, main { display: block; }
figure { margin: 1em 40px; }
hr { overflow: visible; -webkit-box-sizing: content-box; box-sizing: content-box; height: 0; }
pre { font-family: monospace, monospace; font-size: 1em; }
a { background-color: transparent; -webkit-text-decoration-skip: objects; }
abbr[title] { text-decoration: underline; text-decoration: underline dotted; border-bottom: none; -webkit-text-decoration: underline dotted; }
b, strong { font-weight: inherit; }
b, strong { font-weight: bolder; }
code, kbd, samp { font-family: monospace, monospace; font-size: 1em; }
dfn { font-style: italic; }
mark { color: #000; background-color: #ff0; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sub { bottom: -.25em; }
sup { top: -.5em; }
audio, video { display: inline-block; }
audio:not([controls]) { display: none; height: 0; }
img { border-style: none; }
svg:not(:root) { overflow: hidden; }
button, input, optgroup, select, textarea { font-family: sans-serif; font-size: 100%; line-height: 1.15; margin: 0; }
button, input { overflow: visible; }
button, select { text-transform: none; }
button, html [type='button'], [type='reset'], [type='submit'] { -webkit-appearance: button; }
button::-moz-focus-inner, [type='button']::-moz-focus-inner, [type='reset']::-moz-focus-inner, [type='submit']::-moz-focus-inner { padding: 0; border-style: none; }
button:-moz-focusring, [type='button']:-moz-focusring, [type='reset']:-moz-focusring, [type='submit']:-moz-focusring { outline: 1px dotted ButtonText; }
fieldset { padding: .35em .75em .625em; }
legend { display: table; -webkit-box-sizing: border-box; box-sizing: border-box; max-width: 100%; padding: 0; white-space: normal; color: inherit; }
progress { display: inline-block; vertical-align: baseline; }
textarea { overflow: auto; }
[type='checkbox'], [type='radio'] { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; }
[type='number']::-webkit-inner-spin-button, [type='number']::-webkit-outer-spin-button { height: auto; }
[type='search'] { outline-offset: -2px; -webkit-appearance: textfield; }
[type='search']::-webkit-search-cancel-button, [type='search']::-webkit-search-decoration { -webkit-appearance: none; }
::-webkit-file-upload-button { font: inherit; -webkit-appearance: button; }
details, menu { display: block; }
summary { display: list-item; }
canvas { display: inline-block; }
template { display: none; }
[hidden] { display: none; }
html { font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif; }
html, body { height: 100%; }
body { font-size: 12px; color: #333; background: #f8f8f8; }
nav, menu, ul, ol, li, dt, dd { margin: 0; padding: 0; list-style: none; }
a { text-decoration: none; color: #333; }
img { font-size: 0; vertical-align: middle; -ms-interpolation-mode: bicubic; border: 0; }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none !important; }
input[type='number'] { -moz-appearance: textfield; }
button, input, optgroup, select, textarea { font-family: inherit; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; text-transform: none; color: inherit; outline: none; outline: none; -webkit-box-shadow: none; box-shadow: none; }
.float-left { float: left !important; }
.float-right { float: right !important; }
.float-none { float: none !important; }
.align-left { text-align: left !important; }
.align-center { text-align: center !important; }
.align-right { text-align: right !important; }
.vertical-middle { vertical-align: middle !important; }
.display-none { display: none !important; }
.display-inline { display: inline !important; }
.display-block { display: block !important; }
.display-inline-block { display: inline-block !important; }
.display-inline-block { overflow: hidden !important; }
.overflow-ellipsis { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.word-break { word-wrap: break-word; word-break: break-all; }
.clearfix:after, .clearfix:before, .container:after, .container:before { font: 0/0 a; display: table; overflow: hidden; content: ' '; }
.container { margin: 0 auto; padding: 0 20px; }
@media (min-width:576px) {
  .container { max-width: 540px; }
}
@media (min-width:768px) {
  .container { max-width: 720px; }
}
@media (min-width:992px) {
  .container { max-width: 960px; }
}
@media (min-width:1200px) {
  .container { max-width: 1140px; }
}
.clearfix:after, .container:after { clear: both; }
.margin-top-10 { margin-top: 10px !important; }
.margin-top-15 { margin-top: 15px !important; }
.margin-top-25 { margin-top: 25px !important; }
.margin-bottom-10 { margin-bottom: 10px !important; }
.margin-bottom-15 { margin-bottom: 15px !important; }
.margin-bottom-25 { margin-bottom: 25px !important; }
body { background-color: #f3f6f8; }
.icon { line-height: 1; display: inline-block; vertical-align: middle; background-repeat: no-repeat; background-position: center; background-size: auto 100%; }
.icon-nav { background-image: url(../img/icon_nav.png); }
#header { position: fixed; z-index: 1000; top: 0; right: 0; left: 0; height: 72px; border-bottom: 1px solid #e0e0e0; background: #fff; }
#header .logo { font-size: 20px; font-weight: normal; line-height: 72px; float: left; margin: 0; vertical-align: middle; }
#header .logo a { display: block; }
#header .logo img { float: left; height: 40px; margin-top: 16px; margin-right: 8px; }
#header .nav { float: right; }
#header .nav li { font-size: 16px; line-height: 72px; float: left; }
#header .nav li a { display: block; padding: 0 24px; -webkit-transition: all .2s; transition: all .2s; opacity: .8; border-bottom: 1px solid transparent; }
#header .nav li.active a, #header .nav li a:hover { opacity: 1; color: #3273dc; border-bottom: 1px solid #3273dc; }
#footer { border-top: 1px solid #e0e0e0; background: rgba(255, 255, 255, .8); }
#footer .copyright { line-height: 24px; padding: 20px 0; text-align: center; }
.page-main { margin-top: 72px; }
.main-item { margin: 20px 0; border-radius: 4px; background: #fff; }
.main-item .caption { font-size: 16px; line-height: 24px; padding: 16px 20px 0; color: #565656; }
.main-item .caption .icon { float: left; width: 24px; height: 24px; margin-right: 8px; }
.main-item .content { padding: 0 20px 20px; }
.main-item .list { margin-left: -2%; }
.main-item .list li { float: left; width: 23%; margin: 20px 0 0 2%; }
.main-item .list li a { position: relative; display: block; height: 96px; padding: 12px; border: 1px solid #e0e0e0; border-radius: 4px; }
.main-item .list li a:hover { -webkit-transition: all .3s ease; transition: all .3s ease; -webkit-transform: translateY(-4px); transform: translateY(-4px); -webkit-box-shadow: 0 0 2px #e0e0e0; box-shadow: 0 0 4px #e0e0e0; }
.main-item .list .title { font-size: 14px; line-height: 40px; overflow: hidden; height: 40px; white-space: nowrap; text-overflow: ellipsis; color: #3273dc; }
.main-item .list .title img { float: left; width: auto; height: 40px; margin-right: 8px; }
.main-item .list .desc { line-height: 24px; padding-top: 8px; color: #686868; }
@media (max-width:576px) {
  .main-item .list li { width: 98%; }
}
@media (min-width:576px) {
  .main-item .list li { width: 48%; }
}
@media (min-width:768px) {
  .main-item .list li { width: 31.33%; }
}
@media (min-width:992px) {
  .main-item .list li { width: 23%; }
}
@media (min-width:1200px) {
  .main-item .list li { width: 23%; }
}
